.background {
	background-image: url("../images/administration-american-architecture.jpg");
	background-size: auto;
    background-repeat: no-repeat;
	background-color: #0044b3;    
}
h1{
	font-family: "Lobster", serif;;
	color:#BF0A30;
	font-size: 120px;
	margin-top:20px;
	margin-bottom:15px;
}

.button {
    background-color: #0044b3;
    border: double;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor:pointer;
  }

.start{
    color: #ffffff;
    margin-top:140px;   
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 50px;
}
#random-state {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 70px;
    color: #BF0A30;
    letter-spacing: 5px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    white-space: pre;
}

#sound {
	margin-top: 20px;
}

.stats{
	background-color: #0044b3;
	padding:50px;
}
.stats-middle{
    background-color: #002868;
	padding:50px;
}
#wins, #losses, #guesses, #letters {
	color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: #0044b3;
    border-top: 7px solid #BF0A30;
    color: white;
    text-align: center;
    }

  footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    }

#footerText {
    font-size: 16px;
    margin: 10px;
    color: #ffffff;
    }

/* mobile device responsive*/
@media screen and (max-width: 640px) {
	.container {
		max-width: 600px;
    }
    .background {
        background-blend-mode: multiply; 
    }
    h1{
        font-size:60px;
    }
    #wins, #losses, #guesses, #letters, #random-state {
    	text-align: left;
    }
    .start{
        margin-top:40px;   
        font-size: 40px;
    }
    .stats{
        background-color: #0044b3;
        padding:10px;
    }
    .stats-middle{
        background-color: #002868;
        padding:10px;
    }
    #random-state {
        margin-top: 20px; 
        margin-bottom: 40px; 
        letter-spacing: normal;
        color: #ffffff;
        font-size: 30px;
    }
}