.background {
	background-image: url("../images/administration-american-architecture.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

h1{
	font-family: "Lobster", serif;;
	color:#BF0A30;
	font-size: 120px;
	margin-top:20px;
	margin-bottom:15px;
}

.start{
    color: #ffffff;
    margin-top:140px;   
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 50px;
}

#random-state {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 70px;
    color: #BF0A30;
    letter-spacing: 5px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 50px;
    white-space: pre;
}

.stats{
	background-color: #0044b3;
	padding:50px;
}
.stats-middle{
    background-color: #002868;
	padding:50px;
}
#wins, #losses, #guesses, #letters {
	color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


/* mobile device responsive*/
@media screen and (max-width: 640px) {
    h1{
        font-size:60px;
    }
    #wins, #losses, #guesses, #letters {
    	text-align: left;
    }
    .start{
        margin-top:40px;   
        font-size: 40px;
    }
    .stats{
        background-color: #0044b3;
        padding:10px;
    }
    .stats-middle{
        background-color: #002868;
        padding:10px;
    }
}